.advantages__title {
  margin-bottom: 35px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__services {
  margin: 0;
  padding: 0;
  text-align: left;
  padding-left: 47px;
  list-style: none;
}

.advantages__text {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}
