@use "../comman/variables.scss" as v;
@use "../mixins/media.scss" as m;

.advantages {
  padding-top: 32px;
}

.advantages__wrapper {
  @include m.tablet {
    padding: 47px 70px 50px;
  }
}

.advantages__title {
  margin-bottom: 35px;
  max-width: 270px;

  @include m.tablet {
    max-width: 520px;
  }
}

.advantages__text {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;

  @include m.tablet {
    margin: 0 auto;
  }
}

.advantages__name {
  margin-bottom: 11px;
}

.advantages__number {
  margin-bottom: 17px;
  display: inline-block;
}

.advantages__description {
  margin: 0;
  padding: 0;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @include m.tablet {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.advantages__item {
  background-color: v.$color-background;
  position: relative;
  padding-right: 20px;
  padding-left: 20px;


  &--back {
    background-color: v.$color-primary;
    color: v.$color-secondary;
    padding: 0;
  }

  &:first-child::before {
    content: "";
    position: absolute;
    display: block;
    background-image: url("../img/background-advantages.svg");
    background-repeat: no-repeat;
    top: -1px;
    width: 320px;
    height: 37px;
    z-index: 5;


    @include m.tablet {
      display: none;
    }
  }
}

.advantages__item-container {
  @include m.tablet {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

.advantages__item-wrapper {
  padding: 24px 12px;

  @include m.tablet {
    padding: 60px 33px;
  }

  @include m.desktop {
    padding: 52px 50px;
  }

  &--no-back {
    border-bottom: 1px solid v.$color-border;

    @include m.tablet {
      border: none;
    }
  }

  &--city {
    position: relative;
    padding-top: 54px;
    padding-bottom: 40px;

    @include m.tablet {
      padding-top: 54px;
      padding-bottom: 40px;
    }
  }

  &--bridge {
    padding-top: 37px;
    padding-bottom: 37px;

    @include m.tablet {
      padding-top: 54px;
      padding-bottom: 40px;
    }
  }
}

.advantages__item:last-child .advantages__item-wrapper--no-back {
  border: none;
}

.advantages__image {
  display: block;
}

.advantages__services {
  margin: 0;
  padding: 25px 20px;
  text-align: left;
  list-style: none;
  background-color: v.$color-secondary;
  color: v.$color-text;

  @include m.tablet {
    padding: 0;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__services-item {
  position: relative;
  padding-left: 45px;

  @include m.tablet {
    padding: 156px 33px 60px;
  }

  &:not(:last-child) {
    margin-bottom: 25px;

    @include m.tablet {
      margin-bottom: 0;
    }
  }

  &::before {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    transform: translateY(-25%);
    background-repeat: no-repeat;

    @include m.tablet {
      left: 50%;
      top: 60px;
      transform: translateX(-50%);
      background-size: cover;
    }
  }

  &--housing::before {
    background-image: url("../img/icons/icon-house.svg");
    width: 39px;
    height: 37px;

    @include m.tablet {
      width: 77px;
      height: 73px;
    }
  }

  &--eat::before {
    background-image: url("../img/icons/icon-burger.svg");
    width: 40px;
    height: 35px;

    @include m.tablet {
      width: 80px;
      height: 72px;
    }
  }

  &--souvenirs::before {
    background-image: url("../img/icons/icon-gift.svg");
    width: 32px;
    height: 38px;

    @include m.tablet {
      width: 67px;
      height: 79px;
    }
  }
}

.advantages__subtitle {
  margin-bottom: 16px;
}

.advantages__services-text {
  margin: 0;
  padding: 0;
}
