@use "../comman/variables.scss" as v;

.advantages {
  padding-top: 32px;
}

.advantages__title {
  margin-bottom: 35px;
  max-width: 270px;
}

.advantages__name {
  margin-bottom: 11px;
}

.advantages__number {
  margin-bottom: 17px;
  display: inline-block;
}

.advantages__description {
  margin: 0;
  padding: 0;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  background-color: v.$color-background;
  padding: 24px 20px 0;

  &--city,
  &--bridge {
    background-color: v.$color-primary;
    color: v.$color-secondary;
  }

  &--city {
    padding: 57px 0 37px;
  }

  &--bridge {
    padding: 37px 0 0;
  }
}

.advantages__item-wrapper {
  border-bottom: 1px solid v.$color-border;
}

.advantages__image {
  display: block;
}

.advantages__services {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: left;
  list-style: none;
  background-color: v.$color-secondary;
  color: v.$color-text;
}

.advantages__services-item {
  position: relative;
  padding-left: 45px;

  &:not(:last-child) {
    margin-bottom: 25px;
  }

  &::before {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    transform: translateY(-25%);
    background-repeat: no-repeat;
  }

  &--housing::before {
    background-image: url("../img/icons/icon-house.svg");
    width: 39px;
    height: 37px;
  }

  &--eat::before {
    background-image: url("../img/icons/icon-burger.svg");
    width: 40px;
    height: 35px;
  }

  &--souvenirs::before {
    background-image: url("../img/icons/icon-gift.svg");
    width: 32px;
    height: 38px;
  }
}

.advantages__text {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}
