@use "../mixins/media.scss" as m;
@use "../comman/variables.scss" as v;

.form__group {
  border: none;
  border-top: 1px solid v.$color-border;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  &--name {
    padding-bottom: 39px;
  }

  &--contacts {
    padding-bottom: 31px;
  }

  @include m.tablet {
    border: none;
  }
}

.form__title {
  text-align: center;
  margin-bottom: 20px;

  @include m.tablet {
    max-width: 400px;
    padding-left: 75px;
    padding-right: 75px;
  }
}

.form__item {
  display: flex;
  flex-direction: column;
}

.form__group-comment {
  width: 100%;
}

