@use "../mixins/media.scss" as m;
@use "../comman/variables.scss" as v;

.form-header {
  padding-top: 36px;
  padding-bottom: 28px;
  text-align: center;
}

.form-header__title {
  margin-bottom: 24px;
}

.form-header__text {
  margin: 0;
  padding: 0;
}
