@use "../mixins/media.scss" as m;
@use "../comman/variables.scss" as v;

.form {
  @include m.tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.form__group {
  border: none;
  border-top: 1px solid v.$color-border;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  @include m.tablet {
    border: none;
  }

  &--name {
    padding-bottom: 39px;
    grid-column: 1 / 2;

    @include m.tablet {
      padding-right: 29px;
      border-right: 1px solid #dbdbdb;
      padding-bottom: 0;
      padding-top: 10px;
    }
  }

  &--contacts {
    padding-bottom: 31px;
    grid-column: 2 / 3;

    @include m.tablet {
      padding-left: 28px;
      padding-bottom: 0;
      padding-top: 10px;
    }
  }

  &--impression {
    grid-column: 1 / -1;

    @include m.tablet {
      padding-top: 63px;
    }
  }

  &--attractions {
    grid-column: 1 / -1;
  }

  &--description {
    grid-column: 1 / -1;
    width: 100%;
  }
}

.form__title {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}

.form__title--line {
  width: 100%;

  @include m.tablet {
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: #dbdbdb;
      position: absolute;
      top: 50%;
      z-index: -1;
    }
  }
}

.form__title-text {
  background-color: v.$color-secondary;
  display: inline-block;

  @include m.tablet {
    max-width: 430px;
    padding-left: 75px;
    padding-right: 75px;
  }
}

.form__group-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;

  @include m.tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @include m.desktop {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 64px;
  }

  &--impression {
    @include m.tablet {
      padding-left: 36px;
      padding-right: 36px;
    }
  }

  &--attractions {
    @include m.tablet {
      padding-left: 84px;
      padding-right: 84px;
    }
  }
}

.form__item {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form__group-comment {
  width: 100%;
}


.form__button {
  grid-column: 1 / 2;
  padding: 16px;
  width: 100%;
}

.form__info {
  grid-column: 2 / 3;
  text-align: right;
}
