@use "../mixins/media.scss" as m;
@use "../common/variables.scss" as v;

.heading {
  padding: 36px 20px 27px;
  text-align: center;

  @include m.tablet {
    padding: 63px 163px 96px;
  }

  @include m.desktop {
    padding: 115px 378px 55px;
  }

  &--catalog {
    padding-bottom: 37px;

    @include m.tablet {
      padding-top: 60px;
    }

    @include m.desktop {
      padding-top: 100px;
      padding-bottom: 39px;
    }
  }
}

.heading__title {
  margin-bottom: 25px;

  @include m.tablet {
    margin-bottom: 19px;
  }

  @include m.desktop {
    margin-bottom: 30px;
  }

  &--catalog {
    @include m.tablet {
      margin-bottom: 30px;
    }
  }
}

.heading__text {
  margin: 0;
  padding: 0;

  @include m.tablet {
    line-height: 22px;
  }
}
