@use "../mixins/media.scss" as m;
@use "../comman/variables.scss" as v;

.heading {
  padding: 36px 20px 28px;
  text-align: center;

  @include m.tablet {
    padding: 66px 135px;
  }

  @include m.desktop {
    padding: 115px 350px;
  }
}

.heading__title {
  margin-bottom: 24px;
}

.heading__text {
  margin: 0;
  padding: 0;
}
