@use "../mixins/media.scss" as m;
@use "../common/variables.scss" as v;

.input-text {
  font-family: "PT-Sans", sans-serif;
  padding: 13px 11px;
  font-size: 18px;
  font-weight: 700;
  border: 4px solid transparent;
  background-color: v.$color-background;
  display: inline-block;

  &::placeholder {
    color: rgba(v.$color-title, $alpha: 0.3);
  }

  &:hover {
    background-color: v.$color-input-hover;
  }

  &:focus,
  &:active {
    outline: none;
    border-color: v.$color-input-hover;
    background-color: v.$color-secondary;
  }

  &:not(:placeholder-shown):invalid {
    border-color: #ff8282;
  }
}
