@use "../mixins/media.scss" as m;

.main-header {
  position: relative;
  text-align: center;
  min-height: 56px;
}

.main-header__toggle {
  position: absolute;
  display: inline-block;
  top: 17px;
  right: 20px;
  border: none;
  width: 23px;
  height: 22px;
  background-image: url("../img/icons/menu-icon.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  z-index: 8;

  &--closed {
    background-image: url("../img/icons/close-icon.svg");
  }

  @include m.tablet {
    display: none;
  }
}

.main-header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 185px;
  z-index: 3;

  &:hover,
  &:focus {
    opacity: 0.6;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}
