@use "../common/variables.scss" as v;
@use "../mixins/media.scss" as m;

.modal {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(v.$color-title, $alpha: 0.3);

  &--open {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 10;
  }
}

.modal__container {
  width: 100%;
  margin: auto;
  background-color: v.$color-secondary;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);

  &--error {
    padding: 45px 42px 35px 41px;
    min-height: 280px;

    @include m.tablet {
      width: 400px;
      min-height: 347px;
      padding: 48px 47px 49px 46px;
    }

    @include m.desktop {
      padding-top: 45px;
    }
  }

  &--shipment {
    min-height: 324px;
    padding: 39px 20px 20px;
    background: linear-gradient(to top, v.$color-background 100px, v.$color-secondary 100px);

    @include m.tablet {
      padding-top: 44px;
      width: 640px;
      background: linear-gradient(to top, v.$color-background 137px, v.$color-secondary 137px);
    }

    @include m.desktop {
      padding-top: 40px;
      padding-bottom: 42px;
      background: linear-gradient(to top, v.$color-background 145px, v.$color-secondary 145px);
    }
  }
}

.modal__title {
  margin-bottom: 24px;

  @include m.tablet {
    margin-bottom: 21px;
    line-height: 40px;
  }

  @include m.desktop {
    margin-bottom: 25px;
  }
}

.modal__text {
  margin: 0;
  padding: 0;

  &--error {
    margin-bottom: 30px;
    width: 210px;

    @include m.tablet {
      margin-bottom: 44px;
      width: 290px;
    }
  }

  &--shipment {
    margin-bottom: 73px;
    width: 245px;

    @include m.tablet {
      width: 445px;
      margin-bottom: 95px;
    }

    @include m.desktop {
      margin-bottom: 95px;
    }
  }
}

.modal__button {
  width: 100%;
  font-size: 18px;

  @include m.tablet {

    font-size: 21px;
  }

  &--error {
    width: 180px;
    padding: 16px 20px;

    @include m.tablet {
      width: 272px;
    }
  }

  &--shipment {
    padding: 18px 20px;

    @include m.tablet {
      width: 456px;
    }
  }
}
