@use "../mixins/media.scss" as m;
@use "../common/variables.scss" as v;

.promo {
  position: relative;
  min-height: 158px;
  background-color: v.$color-primary;

  &::after {
    position: absolute;
    background-image: url("../img/promo-bottom-tablet.svg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    height: 57px;
    content: "";
    bottom: 0;
    z-index: 6;
    display: inline-block;
  }
}

.promo__slogan {
  position: absolute;
  z-index: 2;
  top: 52px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

  @include m.tablet {
    top: 95px;
  }

  @include m.desktop {
    top: 100px;
  }

  &--index {
    top: 90px;

    @include m.tablet {
      top: 77px;
    }
  }
}

.promo__background {
  display: block;
  width: 100%;
  object-position: bottom;
  height: 158px;

  @include m.tablet {
    height: 291px;
  }

  @include m.desktop {
    height: 300px;
    object-position: bottom;
  }

  &--index {
    height: 389px;

    @include m.tablet {
      height: 518px;
    }
  }
}
