@use "../common/variables.scss" as v;
@use "../mixins/media.scss" as m;

.title {
  font-weight: 700;
  color: v.$color-title;
  font-size: 18px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  line-height: 27px;

  @include m.tablet {
    font-size: 21px;
  }

  &--big {
    @include m.tablet {
      font-size: 30px;
    }
  }

  &--back {
    color: v.$color-secondary;
  }

  &--min {
    font-size: 14px;

    @include m.desktop {
      color: v.$color-secondary;
    }
  }
}
