@use "../mixins/media.scss" as m;
@use "../common/variables.scss" as v;

.video-block {
  padding: 17px 20px 0;

  @include m.tablet {
    padding: 62px 60px 40px;
  }

  @include m.desktop {
    padding: 60px 200px 85px;
  }
}

.video-block__title {
  margin-bottom: 27px;

  @include m.tablet {
    margin-bottom: 29px;
  }

  @include m.desktop {
    margin-bottom: 30px;
  }
}

.video-block__text {
  padding: 0;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 38px;

  @include m.tablet {
    margin-bottom: 84px;
    padding-left: 95px;
    padding-right: 95px;
  }

  @include m.desktop {
    margin-bottom: 86px;
    padding-left: 175px;
    padding-right: 175px;
  }
}

.video-block__wrapper {
  position: relative;
}

.video-block__img {
  display: block;
  width: 100%;
}

.video-block__button {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  outline: none;

  @include m.tablet {
    top: 50%;
  }
}

.video-block__icon {
  color: rgba(v.$color-secondary, $alpha: 0.7);
}

.video-block__button:hover .video-block__icon,
.video-block__button:focus .video-block__icon {
  color: rgba(v.$color-secondary, $alpha: 0.3);
}

.video-block__button:active .video-block__icon {
  color: rgba(v.$color-title, $alpha: 0.3);
}
