@use "../mixins/media.scss" as m;
@use "../common/variables.scss" as v;

img {
  max-width: 100%;
  object-fit: cover;
  height: auto;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  margin: 0;
  height: 1px;
}

.page__body {
  margin: 0;
  padding: 0;
  color: v.$color-text;
  font-family: "PT-Sans", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-transform: uppercase;
  min-width: 320px;

  @include m.tablet {
    line-height: 22px;
  }
}

main {
  flex: 1;

  @include m.desktop {
    max-width: v.$desktop;
    margin: 0 auto;
  }
}

.page__container {
  min-width: v.$phone;
  max-width: v.$desktop;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @include m.desktop {
    box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
  }
}

.text-transfer {
  display: none;

  @include m.tablet {
    display: inline;
  }
}
